.container {
    position: relative;
    border-radius: 200px;
}
  
.container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 15%, rgba(255,255,255,0) 100%);
    border-bottom: 4px solid orangered;
    z-index: 2;
}